// .owl-carousel .item {
//   height: 300px; /* Set a height for the items */
//   background-size: cover; /* Cover background */
//   background-position: center; /* Center background image */
// }
.site-navbar{
  background:  #EDFBE2 !important;
}

.site-navigation{
  background-color: #405C3C !important;
}

.btn-primary{
  background-color: #54B435 !important;
  border-color: #54B435 !important;
}
