<div>
  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-logo">
        <a href="#"><img src="assets/images/kisii/plainLogo2.png" alt="Image" /></a>
      </div>
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body">
      <ul class="site-nav-wrap">
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/about">About Us</a></li>
        <li routerLinkActive="active"><a routerLink="/golf">Golf</a></li>
        <li routerLinkActive="active">
          <a routerLink="/amenities">Amenities</a>
        </li>
        <li routerLinkActive="active"><a routerLink="/news">Events</a></li>
        <li class="has-children">
          <a routerLink="/">Membership</a>
          <ul class="dropdown arrow-top">
            <li routerLinkActive="active">
              <a routerLink="/membership">Our Committee</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/contact-us">Join Us</a>
            </li>
          </ul>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/contact-us">Contact</a>
        </li>
      </ul>
    </div>
  </div>

  <header class="site-navbar absolute transparent" role="banner">
    <div class="py-3">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-6 col-md-3">
            <a href="#" class="text-secondary px-2 pl-0"
              ><span class="icon-facebook"></span
            ></a>
            <a
              href="https://l.instagram.com/?u=https%3A%2F%2Fwww.instagram.com%2Fkisiigolfclub.ke%3Figsh%3DMWNiYThseDhpcndsaA%253D%253D&e=AT3efflMpvyHwhECVFv1jTXzqLXjSEut1oyieSI4x-ofi2bP5dRXsX-jOe8UBlWmJOYLGzy2xuhPsE1acWSdMkoC02ettey_aJiiA2w&s=1"
              class="text-secondary px-2"
              ><span class="icon-instagram"></span
            ></a>
            <a href="#" class="text-secondary px-2"
              ><span class="icon-linkedin"></span
            ></a>
          </div>
          <div class="col-6 col-md-9 text-right">
            <div class="d-inline-block">
              <a
                href="mailto:admin&#64;kisiisports.club"
                target="_blank"
                class="text-secondary p-2 d-flex align-items-center"
                ><span class="icon-envelope mr-3"></span>
                <span class="d-none d-md-block"
                  >admin&#64;kisiisports.club</span
                ></a
              >
            </div>
            <div class="d-inline-block">
              <a
                href="tel:0202589778"
                class="text-secondary p-2 d-flex align-items-center"
                ><span class="icon-phone mr-0 mr-md-3"></span>
                <span class="d-none d-md-block">020 2589778</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav
      class="site-navigation position-relative text-right bg-black text-md-right"
      role="navigation"
    >
      <div class="container position-relative">
        <div class="site-logo">
          <a routerLink="/home"
            ><img
              style="height: 7rem !important"
              src="assets/images/kisii/plainLogo2.png"
              alt=""
          /></a>
        </div>

        <div class="d-inline-block d-md-none ml-md-0 mr-auto py-3">
          <a href="#" class="site-menu-toggle js-menu-toggle text-white"
            ><span class="icon-menu h3"></span
          ></a>
        </div>

        <ul class="site-menu js-clone-nav d-none d-md-block">
          <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
          <li routerLinkActive="active"><a routerLink="/about">About Us</a></li>
          <li routerLinkActive="active"><a routerLink="/golf">Golf</a></li>
          <li routerLinkActive="active">
            <a routerLink="/amenities">Amenities</a>
          </li>
          <li routerLinkActive="active"><a routerLink="/news">Events</a></li>

          <li class="has-children">
            <a routerLink="/">Membership</a>
            <ul class="dropdown arrow-top">
              <li routerLinkActive="active">
                <a routerLink="/membership">Our Committee</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/contact-us">Join Us</a>
              </li>
            </ul>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/contact-us">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</div>
