<div class="site-blocks-cover overlay" style="background-image: url(assets/images/kisii/members.jpg); background-size:auto;" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-start">
      <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
        <h1 class="bg-text-line">About Us</h1>
        <p class="mt-4">"The secret to golf is to have a good grip and a good swing, but to have a good attitude is even more important."</p>
        <p>~Ben Hogan</p>
      </div>
    </div>
  </div>
</div>

<div class="site-section" data-aos="fade-up">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="assets/images/kisii/about-1.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 pl-md-5">
        <!-- <h2 class="text-black">About Sportz</h2> -->
        <p class="lead">Kisii Sports Club, is in many ways the ultimate embodiment of the Western Kenya’s unique marriage of ancient golf tradition and a modern 9-Hole Championship Golf Course.</p>
        <p>Founded in 1914, our members-only club is a sanctuary for golf enthusiasts and families alike. Nestled in the heart of Kisii, we offer a premier golfing experience along with world-class amenities for all ages. Whether you’re a seasoned golfer or just starting out, Kisii Golf Club is your perfect escape to leisure, fitness, and community. Join us and become part of our storied tradition and vibrant community today.</p>
      </div>
    </div>
  </div>
</div>

<div class="site-section" data-aos="fade-up">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2">
        <img src="assets/images/kisii/about-2.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 pr-md-5">
        <h2 class="text-black">Extraordinary Experiences</h2>
        <p class="lead">At Kisii Golf Club, every visit is more than just a day out – it’s an extraordinary experience.</p>
        <p>Whether you’re teeing off on our lush, scenic golf course, indulging in a gourmet meal at our clubhouse restaurant, or participating in one of our exclusive member events, you’ll create memories that last a lifetime. Our blend of stunning natural beauty, top-notch facilities, and vibrant community ensures that every moment spent here is nothing short of exceptional. Come and discover the extraordinary at Kisii Golf Club</p>
      </div>
    </div>
  </div>
</div>

<div class="site-section" data-aos="fade-up">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2">
        <img src="assets/images/kisii/girafe-home.jpg" alt="Image" class="img-fluid">
        <img src="assets/images/kisii/roan-antelope.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 pr-md-5">
        <h2 class="text-black">Attractions & Activities</h2>
        <p class="lead">Located close to your all your favourite game drive spots in Western Kenya</p>
        <p>
          Kisii Golf Club is your perfect base for exploring the stunning beauty and attractions of Western Kenya. Just a short drive away, you can experience the world-renowned Masai Mara National Reserve, famous for its incredible wildlife and the annual Great Migration. Beyond the Masai Mara, discover the vibrant culture of Kisii with its unique soapstone carvings, and explore nearby treasures like the Nyangweta Forest and the scenic Nyakwana Falls.
        </p>
        <p>
          Western Kenya offers a plethora of attractions easily accessible from our club. Visit Ruma National Park to see the rare Roan antelopes, or enjoy bird-watching and fishing at Lake Victoria. The bustling port town of Kisumu, with its lively markets and the Kisumu Impala Sanctuary, is also within reach. After your adventures, return to the comfort and luxury of Kisii Golf Club, where you can relax in our top-notch amenities. Make your stay extraordinary by combining world-class golf with unforgettable safari experiences.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="slide-one-item owl-carousel">
  <div class="bg-image center overlay" style="background-image: url('assets/images/hero_bg_1.jpg'); "></div>
  <div class="bg-image center overlay" style="background-image: url('assets/images/hero_bg_2.jpg'); "></div>
  <div class="bg-image center overlay" style="background-image: url('assets/images/hero_bg_3.jpg'); "></div>
  <div class="bg-image center overlay" style="background-image: url('assets/images/hero_bg_4.jpg'); "></div>
</div> -->

<div class="site-section feature-blocks-1 no-margin-top">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h2 class="text-black">More About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="100">
        <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/kisii/food-1.jpg'); min-height: 350px;">
          <!-- <div class="text">
            <h2 class="h5 text-white">Russia's World Cup Championship</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat autem illum nostrum sit distinctio!</p>
            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Read More</a></p>
          </div> -->
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="200">
        <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/kisii/gym.jpg'); min-height: 350px;">
          <!-- <div class="text">
            <h2 class="h5 text-white">Russia's World Cup Championship</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat autem illum nostrum sit distinctio!</p>
            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Read More</a></p>
          </div> -->
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="300">
        <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/kisii/pool.jpg'); min-height: 350px;">
          <!-- <div class="text">
            <h2 class="h5 text-white">Russia's World Cup Championship</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat autem illum nostrum sit distinctio!</p>
            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Read More</a></p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
