<div class="site-wrap">
  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-logo">
        <a href="#"
          ><img src="assets/images/kisii/plainLogo2.png" alt="Image"
        /></a>
      </div>
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>


  <div class="slide-one-item home-slider owl-carousel">
    <div
      class="site-blocks-cover overlay"
      style="background-image: url(assets/images/kisii/main-gate.jpg)"
      data-aos="fade"
      data-stellar-background-ratio="0.5"
    >
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div
            class="col-md-6 text-center text-md-left"
            data-aos="fade-up"
            data-aos-delay="400"
          >
          <h1 class="bg-text-line">Kisii Sports Club <br> Est. 1914</h1>
            <p>
              <a href="#" class="btn btn-primary btn-sm rounded-0 py-3 px-5"
                >Read More</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="site-blocks-cover overlay"
      style="background-image: url(assets/images/kisii/NP-1.jpg)"
      data-aos="fade"
      data-stellar-background-ratio="0.5"
    >
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div
            class="col-md-6 text-center text-md-left"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <h1 class="bg-text-line">Exclusive Golfing Experiences</h1>
            <p>
              <a href="#" class="btn btn-primary btn-sm rounded-0 py-3 px-5"
                >Read More</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="site-blocks-cover overlay"
      style="background-image: url(assets/images/kisii/lawns.jpg)"
      data-aos="fade"
      data-stellar-background-ratio="0.5"
    >
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div
            class="col-md-6 text-center text-md-left"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <h1 class="bg-text-line">Kisii Sports Club <br>A Members' Club</h1>
            <p>
              <a href="#" class="btn btn-primary btn-sm rounded-0 py-3 px-5"
                >Read More</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="site-section pt-0 feature-blocks-1"
    data-aos="fade"
    data-aos-delay="100"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div
            class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg"
            style="background-image: url('assets/images/kisii/golf.jpg')"
          >
            <div class="text">
              <h2 class="h5 text-white">Friday Tournament</h2>
              <p>
                Join us every Friday for our weekly tournament
              </p>
              <p class="mb-0">
                <a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0"
                  >Learn More</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div
            class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg"
            style="background-image: url('assets/images/kisii/weekend.jpg')"
          >
            <div class="text">
              <h2 class="h5 text-white">Sunday Captain's spoon</h2>
              <p>
                Join us for Sunday Captains spoon medal
              </p>
              <p class="mb-0">
                <a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0"
                  >Learn More</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div
            class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg"
            style="background-image: url('assets/images/kisii/golf.jpg')"
          >
            <div class="text">
              <h2 class="h5 text-white">Friday Tournament</h2>
              <p>
                Join us every Friday for our weekly tournament
              </p>
              <p class="mb-0">
                <a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0"
                  >Learn More</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-blocks-vs site-section bg-light">
    <div class="container">
      <!--LET ID-->
      <div class="site-section" data-aos="fade-up">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 pl-md-5">
              <h2 class="text-black">Join Our Club</h2>
              <p class="lead">Welcome to Kisii Golf Club, where exclusivity meets inclusivity.</p>
              <p>Founded in 1914, our members-only club is a sanctuary for golf enthusiasts and families alike. Nestled in the heart of Kisii, we offer a premier golfing experience along with world-class amenities for all ages. Whether you’re a seasoned golfer or just starting out, Kisii Golf Club is your perfect escape to leisure, fitness, and community. Join us and become part of our storied tradition and vibrant community today.</p>
            </div>

            <div class="col-md-6">
              <img src="assets/images/kisii/lawns.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>


      <div class="site-section" data-aos="fade-up">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="assets/images/kisii/golfCourse.png" alt="Image" class="img-fluid">
            </div>

            <div class="col-md-6 pl-md-5">
              <p class="lead">Today, it stands as a testament to the enduring spirit of the sport and the strides made towards equality.</p>
              <p>The club has nine-hole course, with its fairways and greens covered with local grass. The course measures 5,703 yards for men and 4,847 yards for women with a par of 70 for both.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section feature-blocks-1 no-margin-top">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h2 class="text-black">Amenities</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="100">
          <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/kisii/NP-0288.jpg'); min-height: 350px;">
            <div class="text">
              <h2 class="h5 text-white">Tenis</h2>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat autem illum nostrum sit distinctio!</p> -->
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="200">
          <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/kisii/NP-57.jpg'); min-height: 350px;">
            <div class="text">
              <p>Pool Table</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="300">
          <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/kisii/gym.jpg'); min-height: 350px;">
            <div class="text">
              <p>Gym</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h2 class="text-black">Latest News</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="post-entry">
            <div class="image">
              <img
                src="assets/images/kisii/golf.jpg"
                alt="Image"
                class="img-fluid"
              />
            </div>
            <div class="text p-4">
              <h2 class="h5 text-black">
                <a style="color: #6EC1E4;">Friday Tournament</a>
              </h2>
              <!-- <span class="text-uppercase date d-block mb-3"
                ><small>By Colorlib &bullet; Sep 25, 2018</small></span
              > -->
              <p class="mb-0">
               Join us every Friday for the tournament
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="post-entry">
            <div class="image">
              <img
                src="assets/images/kisii/weekend.jpg"
                alt="Image"
                class="img-fluid"
              />
            </div>
            <div class="text p-4">
              <h2 class="h5 text-black" >
                <a style="color: #6EC1E4;">Sunday Captain's spoon </a>
              </h2>
              <!-- <span class="text-uppercase date d-block mb-3"
                ><small>By Colorlib &bullet; Sep 25, 2018</small></span
              > -->
              <p class="mb-0">
                Join us every Sunday for the Captain's spoon
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-6 col-lg-4">
          <div class="post-entry">
            <div class="image">
              <img
                src="assets/images/img_3.jpg"
                alt="Image"
                class="img-fluid"
              />
            </div>
            <div class="text p-4">
              <h2 class="h5 text-black">
                <a href="#">RealMad vs Striker Who Will Win?</a>
              </h2>
              <span class="text-uppercase date d-block mb-3"
                ><small>By Colorlib &bullet; Sep 25, 2018</small></span
              >
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat
                beatae doloremque, ex corrupti perspiciatis.
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

</div>
